* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  height: 100vh;
  width: auto;
  font-size: 62.5%; /* 1rem = 10 px */
}

h1 {
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.8rem;
}

span {
  font-size: 2rem;
}

.plafoTemps {
  display: flex;
  align-items: center;
  justify-items: stretch;
}

.tiempo {
  position: absolute;
  top: 3rem;
  left: 1rem;
  color: black;
  text-align: left;
}

.tacaPetita1 {
  position: absolute;
  top: 10rem;
  right: 6rem;
  height: 15rem;
  width: 15rem;
  background-image: url("img/blob2.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  top: 45%;
  left: 50%;
  background-image: url("img/blob1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@media screen and (max-width: 1000px) {
  .center {
    background-size: 125%;
  }
}

@media screen and (max-width: 600px) {
  .center {
    background-size: 140%;
  }
}

.tacaPetita2 {
  position: absolute;
  bottom: 10rem;
  left: 6rem;
  height: 20rem;
  width: 20rem;
  background-image: url("img/blob3.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#renderJoke {
  color: white;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 2rem;
}

.btnJoke {
  background-color: orange;
  padding: 2rem;
  border-radius: 4rem;
  border: solid 1.25px black;
  margin: 0 auto;
}

.btnJoke:hover {
  background-color: orangered;
  border: solid 1px orangered;
  color: white;
}

.valoracio {
  display: none;
  margin-bottom: 2rem;
}

.btnVal {
  color: black;
  background-color: orange;
  padding: 2rem;
  border-radius: 1rem;
  border: solid 1px orange;
  margin: 0.2rem;
}

.btnVal:hover {
  background-color: orangered;
  border-color: orangered;
}
